services:
  ndld:
    build:
      context: .
      dockerfile: ndld/Dockerfile
    ports:
      - "443:443"
    environment:
      - NDL_CLIENT_ID=${NDL_CLIENT_ID}
      - NDL_CLIENT_SECRET=${NDL_CLIENT_SECRET}
      - NDLD_PUBLIC_URL=${NDLD_PUBLIC_URL}
      - NDLD_PORT=443
      - NDLD_ACME_DOMAIN=${NDLD_ACME_DOMAIN}
      - NDLD_ACME_EMAIL=${NDLD_ACME_EMAIL}
      - NDLD_ACME_DIR=/data/acme
    volumes:
      - /ndld-data:/data
    restart: unless-stopped
